DOMAIN_NAME=localhost

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_PORT=5432

# Backend Configuration
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@postgres:5432/your_database_name

# JWT Secret - MUST be set!
JWT_SECRET=your_jwt_secret_key

FT_CLIENT_ID=your_ft_client_id
FT_CLIENT_SECRET=your_ft_client_secret
FT_REDIRECT_URI=https://localhost/api/auth/42/callback

